//ALL PROPERTIES ------------------------------------------------------------------------
$tran_all_1_eio: all 0.1s ease-in-out;
$tran_all_2_eio: all 0.2s ease-in-out;
$tran_all_3_eio: all 0.3s ease-in-out;

$tran_all_1_eas: all 0.1s ease;
$tran_all_2_eas: all 0.2s ease;
$tran_all_3_eas: all 0.3s ease;

$tran_all_1_esi: all 0.1s ease-in;
$tran_all_2_esi: all 0.2s ease-in;
$tran_all_3_esi: all 0.3s ease-in;

$tran_all_1_eso: all 0.1s ease-out;
$tran_all_2_eso: all 0.2s ease-out;
$tran_all_3_eso: all 0.3s ease-out;

//TRANSITION IN COLOR ------------------------------------------------------------------------
$tran_color_1_eio: color 0.1s ease-in-out;
$tran_color_2_eio: color 0.2s ease-in-out;
$tran_color_3_eio: color 0.3s ease-in-out;

$tran_color_1_eas: color 0.1s ease;
$tran_color_2_eas: color 0.2s ease;
$tran_color_3_eas: color 0.3s ease;

$tran_color_1_esi: color 0.1s ease-in;
$tran_color_2_esi: color 0.2s ease-in;
$tran_color_3_esi: color 0.3s ease-in;

$tran_color_1_eso: color 0.1s ease-out;
$tran_color_2_eso: color 0.2s ease-out;
$tran_color_3_eso: color 0.3s ease-out;

//TRANSITION IN BACKGROUND ------------------------------------------------------------------------
$tran_background_1_eio: background 0.1s ease-in-out;
$tran_background_2_eio: background 0.2s ease-in-out;
$tran_background_3_eio: background 0.3s ease-in-out;

$tran_background_1_eas: background 0.1s ease;
$tran_background_2_eas: background 0.2s ease;
$tran_background_3_eas: background 0.3s ease;

$tran_background_1_esi: background 0.1s ease-in;
$tran_background_2_esi: background 0.2s ease-in;
$tran_background_3_esi: background 0.3s ease-in;

$tran_background_1_eso: background 0.1s ease-out;
$tran_background_2_eso: background 0.2s ease-out;
$tran_background_3_eso: background 0.3s ease-out;

//TRANSITION IN BORDER ------------------------------------------------------------------------
$tran_border_1_eio: border 0.1s ease-in-out;
$tran_border_2_eio: border 0.2s ease-in-out;
$tran_border_3_eio: border 0.3s ease-in-out;

$tran_border_1_eas: border 0.1s ease;
$tran_border_2_eas: border 0.2s ease;
$tran_border_3_eas: border 0.3s ease;

$tran_border_1_esi: border 0.1s ease-in;
$tran_border_2_esi: border 0.2s ease-in;
$tran_border_3_esi: border 0.3s ease-in;

$tran_border_1_eso: border 0.1s ease-out;
$tran_border_2_eso: border 0.2s ease-out;
$tran_border_3_eso: border 0.3s ease-out;

//TRANSITION IN MARGIN ------------------------------------------------------------------------
$tran_margin_1_eio: margin 0.1s ease-in-out;
$tran_margin_2_eio: margin 0.2s ease-in-out;
$tran_margin_3_eio: margin 0.3s ease-in-out;

$tran_margin_1_eas: margin 0.1s ease;
$tran_margin_2_eas: margin 0.2s ease;
$tran_margin_3_eas: margin 0.3s ease;

$tran_margin_1_esi: margin 0.1s ease-in;
$tran_margin_2_esi: margin 0.2s ease-in;
$tran_margin_3_esi: margin 0.3s ease-in;

$tran_margin_1_eso: margin 0.1s ease-out;
$tran_margin_2_eso: margin 0.2s ease-out;
$tran_margin_3_eso: margin 0.3s ease-out;

//TRANSITION IN BOX SHADOW ------------------------------------------------------------------------
$tran_shadow_1_eio: box-shadow 0.1s ease-in-out;
$tran_shadow_2_eio: box-shadow 0.2s ease-in-out;
$tran_shadow_3_eio: box-shadow 0.3s ease-in-out;

$tran_shadow_1_eas: box-shadow 0.1s ease;
$tran_shadow_2_eas: box-shadow 0.2s ease;
$tran_shadow_3_eas: box-shadow 0.3s ease;

$tran_shadow_1_esi: box-shadow 0.1s ease-in;
$tran_shadow_2_esi: box-shadow 0.2s ease-in;
$tran_shadow_3_esi: box-shadow 0.3s ease-in;

$tran_shadow_1_eso: box-shadow 0.1s ease-out;
$tran_shadow_2_eso: box-shadow 0.2s ease-out;
$tran_shadow_3_eso: box-shadow 0.3s ease-out;

//TRANSITION IN MARGIN ------------------------------------------------------------------------
$tran_margin_1_eio: margin 0.1s ease-in-out;
$tran_margin_2_eio: margin 0.2s ease-in-out;
$tran_margin_3_eio: margin 0.3s ease-in-out;

$tran_margin_1_eas: margin 0.1s ease;
$tran_margin_2_eas: margin 0.2s ease;
$tran_margin_3_eas: margin 0.3s ease;

$tran_margin_1_esi: margin 0.1s ease-in;
$tran_margin_2_esi: margin 0.2s ease-in;
$tran_margin_3_esi: margin 0.3s ease-in;

$tran_margin_1_eso: margin 0.1s ease-out;
$tran_margin_2_eso: margin 0.2s ease-out;
$tran_margin_3_eso: margin 0.3s ease-out;

//TRANSITION IN DISPLAY ------------------------------------------------------------------------
$tran_display_1_eio: display 0.1s ease-in-out;
$tran_display_2_eio: display 0.2s ease-in-out;
$tran_display_3_eio: display 0.3s ease-in-out;

$tran_display_1_eas: display 0.1s ease;
$tran_display_2_eas: display 0.2s ease;
$tran_display_3_eas: display 0.3s ease;

$tran_display_1_esi: display 0.1s ease-in;
$tran_display_2_esi: display 0.2s ease-in;
$tran_display_3_esi: display 0.3s ease-in;

$tran_display_1_eso: display 0.1s ease-out;
$tran_display_2_eso: display 0.2s ease-out;
$tran_display_3_eso: display 0.3s ease-out;