$decorations: underline, none, overline, line-through;

$weights: bold, normal;

$font_styles: normal, italic, oblique;

$transforms: capitalize, uppercase, lowercase, none;

$wbreaks: break-all, keep-all, normal;

$valigns: auto, middle, text-top, text-bottom, top, bottom , baseline;

$taligns: center, right, left, justify;