$bd_1px_sd_white: 1px solid white;
$bd_2px_sd_white: 2px solid white;
$bd_3px_sd_white: 3px solid white;
$bd_4px_sd_white: 4px solid white;
$bd_5px_sd_white: 5px solid white;

$bd_1px_sd_transparent: 1px solid transparent;
$bd_2px_sd_transparent: 2px solid transparent;
$bd_3px_sd_transparent: 3px solid transparent;
$bd_4px_sd_transparent: 4px solid transparent;
$bd_5px_sd_transparent: 5px solid transparent;

$bd_1px_sd_black: 1px solid black;
$bd_2px_sd_black: 2px solid black;
$bd_3px_sd_black: 3px solid black;
$bd_4px_sd_black: 4px solid black;
$bd_5px_sd_black: 5px solid black;