@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
    @-moz-keyframes #{$animation_name} {
        @content;
    }
    @-o-keyframes #{$animation_name} {
        @content;
    }
    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation(
    $name: null,
    $duration: null,
    $timing_function: null,
    $delay: null,
    $iteration_count: null,
    $direction: null
) {
    @include prefix(
        animation,
        $name $duration $timing_function $delay $iteration_count $direction,
        get_config(browser_prefixes)
    );
}

@mixin anim-prop($duration: null, $timing_function: null, $delay: null, $iteration_count: null, $direction: null, $play_state: null) {
    @include prefix(animation-duration, $duration, get_config(browser_prefixes));
    @include prefix(animation-timing-function, $timing_function, get_config(browser_prefixes));
    @include prefix(animation-delay, $delay, get_config(browser_prefixes));
    @include prefix(animation-iteration-count, $iteration_count, get_config(browser_prefixes));
    @include prefix(animation-direction, $direction, get_config(browser_prefixes));
    @include prefix(animation-play-state, $play_state, get_config(browser_prefixes));
}