@mixin grid-props($columns: null, $rows: null, $gap: null, $justify_content: null, $align_content: null){
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
    justify-content: $justify_content;
    align-content: $align_content;
}

@mixin grid($columns: null, $rows: null, $gap: null, $justify_content: null, $align_content: null){
    @include value-prefix(display, grid, get_config(ie_prefix));
    @include grid-props($columns, $rows, $gap, $justify_content, $align_content);
}

@mixin inline-grid($columns: null, $rows: null, $gap: null, $justify_content: null, $align_content: null){
    display: inline-grid;
    @include grid-props($columns, $rows, $gap, $justify_content, $align_content);
}

@mixin grid-item($column: null, $row: null){
    grid-column: $column;
    grid-row: $row,
}

@mixin grid-area($area: null){
    grid-area: $area;
}

@mixin grid-areas($areas: null){
    grid-template-areas: $areas;
}

